:root {
    -btn-primary: #4285f4;
}
.container {

    margin: 10px 10px 100px;
}

.null {
    margin: 0;
}

.btn {
    margin: .375rem;
}

.btn:focus, .btn:hover {
    text-decoration: none;
}

.btn:active, .btn:focus, .btn:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    outline: 0;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.btn-primary {
    background-color: #4285f4!important;
    color: #fff;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}


